<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Join da club</h1>
			<form>
				<div class="form-group">
					<label for="first-name" class="control-label">First Name</label>
					<input id="first-name" class="form-control" type="text" placeholder="First Name" ng-model="firstName" />
				</div>
				<div class="form-group">
					<label for="last-name" class="control-label">Last Name</label>
					<input id="last-name" class="form-control" type="text" placeholder="Last Name" ng-model="lastName" />
				</div>
				<div class="form-group">
					<label for="email" class="control-label">Email</label>
					<input id="email" class="form-control" type="email" placeholder="Email" ng-model="email" />
				</div>
				<div class="form-group">
					<label for="password" class="control-label">Password</label>
					<input id="password" class="form-control" type="password" ng-model="password" />
				</div>
				<button id="login-btn" class="btn btn-primary" ng-click="saveUser()" >Register</button>
			</form>
		</div>
	</div>
</div>